{% extends "base.html" %}
{% block content %}
<style>
    .container {
        padding-top: 100px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 30px;
        flex-direction: column;
    }
    img{
        border: 1px solid  #0D6EFD;
    }
</style>

<body>
    <div class="container">
        <h2>CENTER : DYP</h2>
        {% if image %}
        <div>
            <img src="{{ image.image.url }}" alt="Parking Spot Image" width="350" height="280">
        </div>
        <div>
            <b>Last Updated at: {{ image.timestamp }}</b>
        </div>
        {% else %}
        <p>No images available.</p>
        {% endif %}
    </div>

</body>

</html>
{% endblock %}