{% extends 'base.html' %}

{% block content %}
<div class="container">
  <hr>
  <hr>
  {% if booked_spots %} 
{% for booked_spot in booked_spots %} 
<div class="card mt-5 mx-2"> 
    <h5 class="card-header">Location: {{ booked_spot.parking_center.name }}</h5> 
    <div class="card-body"> 
        <h3 class="card-text">Slot: {{ booked_spot.parking_spot.name }}</h3> 
        <p class="card-text"> 
            {% for key, value in time_slots %} 
            {% if key == booked_spot.spot_code %} 
            {{ value }} 
            {% endif %} 
            {% endfor %} 
        </p> 
        <a class="btn btn-primary" href='destination?lng={{booked_spot.parking_center.longitude}}&lat={{booked_spot.parking_center.latitude}}'>View Directions</a>
        {% if booked_spot.parking_center.id == 1 %}
            <a class="btn btn-success" href="/display_image">Preview</a>
        {% endif %}
    </div> 
</div> 
{% endfor %} 
{% else %} 
<div class="alert alert-info mt-5" role="alert"> 
    You have no slots booked. 
</div> 
{% endif %}
  <center>
    <button type="button" class="btn btn-primary mt-5">
      <a href="/map" style="text-decoration: none; color: white">Book Spots Now</a>
    </button>
  </center>
</div>

<script>
</script>
{% endblock %}
